:root {
    --primary-color: palevioletred;
    --secondary-color: navy;
    --tertiary-color: rgb(197, 224, 247);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header Start */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 40px;
    color: var(--secondary-color);
}

header nav {
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    color: var(--tertiary-color);
    font-size: 20px;
}

/* Header End */

/* Hero Start */
/* Hero End */

/* About Me Start */
/* About Me End */

/* Work Start */
/* Work End */

/* Contact Me Start */
/* Contact Me End */

/* Footer Start */

Footer {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Footer End */

